@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    display: flex;
    flex-direction: column;
}

.BestNewBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 646px;
    background-color:blueviolet;
    padding: 218px 460px 256px 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.BestNewBlock h1 {
    font-family: 'Open Sans';
    font-size: 64px;
    color: white;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0px;
}

.BestNewBlock span {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.NewsList {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0px 200px;
    margin-top: 54.32px;
    margin-bottom: 83px;
}

.NewsList h3 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0px;
}

.NewsBlocks {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 82px;
    row-gap: 40px;
}

.NewTextBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.Timestamp {
    display: inline-flex;
    width: fit-content;
    border-radius: 20px;
    padding: 6px 18px;
    gap: 10px;
    background-color: #ECF2F5;
}

.Timestamp span {
    color: #6C6E7B;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.NewTextBlock h2 {
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
}

.NewTextBlock .NewTitle {
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0px;    
}

.NewBlock button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    border: #9B407A 2px solid;
    border-radius: 50px;
    background-color: transparent;
    padding: 16px 41px 16px 41px;
    color: #841844;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.NewBlock {
    display: flex;
    flex-direction: column; justify-content: space-between;
    gap: 30px;
    align-items: start;
}

.NewBlock .defaultArrow {
    display: flex;
} 

.NewBlock .hoverArrow {
    display: none;
}

.NewBlock:hover {
    cursor: pointer;
}

.NewBlock:hover button {
    background-color: #841844;
    color: #FFFFFF;
}

.NewBlock:hover .defaultArrow{
    display: none;
}

.NewBlock:hover .hoverArrow {
    display: flex;
}

.NewBlock:hover h2 {
    color: #841844;
}

.PageSelector {
    width: 100%;
    margin-top: 23px;
    display: flex;
    grid-column: 1 / -1;
    justify-content: end;
    gap: 16px;
}

.PageIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    border: #841844 2px solid;
    padding: 16px 23px;
    cursor: pointer;
}

.PageIndex span {
    color: #841844;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.PageIndex.active {
    background-color: #841844;
}

.PageIndex.active span {
    color: #FFFFFF; 
}
